
  .logo,
  .content {
    color: #fafafa;
  }
  
  .nav {
    width: 100%;
    height: 0px;
    display: flex;
    background-color:transparent;
    color: transparent;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3000;
  }
  
  .logo,
  #hamburger {
    padding-top:7em;
    margin-right: 50px;
    margin-left: 90%;
    z-index: 3000;
  }
  .logo{
      display: none;
  }
  #hamburger {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.25s linear;
    width: clamp(1.5rem, 2vw + 1.1rem, 6rem);
    height: clamp(2rem, 1.4vw + 1.7rem, 5rem);
    display: flex;
    align-items: center;
    z-index: 3000;
  }
  
  #hamburger:hover {
    opacity: 1;
  }
  
  #hamburger div,
  #hamburger div:after,
  #hamburger div:before {
    background-color: #fafafa;
    border-radius: 10px;
    width: clamp(1.5rem, 2vw + 1.1rem, 6rem);
    height: clamp(0.2rem, 0.3vw + 0.1rem, 0.8rem);
    transition: all 0.15s linear;
    z-index: 3000;
  }
  
  #hamburger div:before,
  #hamburger div:after {
    content: "";
    position: absolute;
    z-index: 3000;
  }
  
  #hamburger div:before {
    transform: translateY(-200%);
  }
  
  #hamburger div:after {
    transform: translateY(200%);
  }
  
  #hamburger.open div {
    background: transparent;
  }
  
  #hamburger.open div:before {
    transform: rotate(45deg);
  }
  
  #hamburger.open div:after {
    transform: rotate(-45deg);
  }
  
  #overlay {
    position: fixed;
    width: 100%;
    background-color:black;
    min-height: 100%;
    z-index: 2000;
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #overlay.menu {
    transform: translateY(0%);
  }
  
  #overlay a {
    text-decoration: none;
    color: #fafafa;
    font-size: clamp(1rem, 4.1vw + 0.2rem, 10rem);
    margin: 2%;
    opacity: 0.5;
    transition: opacity 0.2s linear;
  }
  
  #overlay a:hover {
    opacity: 1;
  }