@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    overflow-x:hidden;
    scroll-behavior:auto;
}
body{
    background-color: #212121;
    font-family: "Poppins";
    color: white;
    
}
#abt,#time,#cnn,#tracks{
  margin-top: 10vh;
}
.homeparent{
  margin: auto;
}
ul{list-style-type: none;}
#countdown {
  display: flex;
  justify-content: right;
  margin-left: 0%;
  flex-basis: 25%;
}
#countdown li{
  font-size: 64px;
  font-weight: 500px;
}
.nav{
  margin-top: 30px;
}

.count-particles{
    background-color: transparent;
      position: absolute;
      top: 48px;
      left: 0;
      width: 80px;
      color: #13E8E9;
      font-size: .8em;
      text-align: left;
      text-indent: 4px;
      line-height: 14px;
      padding-bottom: 2px;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: bold;
    }
    
    .js-count-particles{
      font-size: 1.1em;
    }
    
    #stats,
    .count-particles{
      -webkit-user-select: none;
      margin-top: 5px;
      margin-left: 5px;
    }
    
    #stats{
      border-radius: 3px 3px 0 0;
      overflow: hidden;
    }
    
    .count-particles{
      border-radius: 0 0 3px 3px;
    }
    .con{
        height: 100vh;
        z-index: -1;
    }
    .overlay {
        background-color: #f8f6f6;
        width: 110px;
        height: 220px;
        margin-top: 40%;
        border-radius: 100% / 50%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        position: absolute;
        z-index: 1000;
        -webkit-box-shadow: 10px 10px 41px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 41px -10px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 41px -10px rgba(0,0,0,0.75);
      }
      .fq{
        height: 80vh;
      }
      
  .homeparent{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
}
/* ssit logo positioning */
.ssit-logo{
    margin-left:3.4rem;
    padding-top:2rem;
    margin-top: 50px;
}
.ssit-logo img{
    float:left;
    height:auto;
    width:10.5rem;
}
/* heading styling and positioning */
.heading{
    margin-top:3.0rem;
    height: 100%;
    margin-right: 0px;
}
.before-title{
    margin-top:7rem;
    color:white;
    font-family: 'Poppins',sans-serif;
    font-size:2rem;
}
.h4ctitle{
    width:auto;
    height:5rem;
    margin-top:40px;
}
.flexbox1{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    padding-left: 20px;
    margin-right: 0px;
    margin-top:20px;
}
.links{
    list-style-type: none;
}
.links li{
    text-align: center;
    margin:2rem;
    border:2px solid #EB1616;
    border-radius:5rem;
    padding:0.5rem;
}
.links li a{
    padding:0.5rem;
    color:white;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}
.links li:hover{
    color:#ffeded;
    background-color:#EB1616;
}

.btns{
    display: block;
    list-style-type: none;
    }
    .btns li{
      padding: 20px;
      padding-left: 20px;
      z-index: 10;
    }
    #register {
      font-family: "Poppins";
      font-weight: 600;
      padding: 1rem;
      border-radius: 4px;
      font-size: 1.2rem;
      width: 250px;
      color: white;
      cursor: pointer;
      z-index: 5;
    }
    .dc{
      display: flex;
      justify-content: space-around;
    }
    
    #register { 
      border: 3px solid #EB1616;
      color: white;
      box-sizing: border-box;
      background: transparent;
    }
    #register:hover{
      border: 3px solid #f8f6f6;
    }
.h4cdesk{
    height:20rem;
    transform: rotate(-23.03deg);
}
/*removing the mobile div of h4c logo */
.h4cmob{
    display:none;
    margin-left: 10px;
}
/* removing mobile div of timer */
.timer-mob{
    display:none;
}
/* styling and positioning of timer in desktop */
.timer-desk{
    margin:1rem;
    text-align: center;
    color:#ffeded;
    display: flex;
    flex-direction: column;
}
#particles-js{
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -100;
  }
   /*about us*/
   .about h2{
    text-align: center;
    left: 50%;
    padding-bottom: 5%;
    font-size: 54px;
  }
  .about p{
    text-align: center;
    margin-left: 16%;
    margin-right: 16%;
    font-size: 1.3em;
  }
  .about{
    height: 100vh;
    padding-top: 5%;
    
    
  }
  
#clients {
  padding: 30px 0;
  background: #212121;
  color: white;
  overflow: hidden;
  background-image: url("./images/sponsor-bg.png");
  animation: bg 10s linear infinite;
  height: 100vh;
  z-index: 10;
}
#clients h2 {
  font-size: 3em;
}

#a1 {
  text-align: center;
  margin-top: 10px;
}

/*SPONSORES (SAM)*/

.groupspon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  left: 0%;
  padding: 2%;
}
.groupspon img {
  height: 70px;
  width: auto;
}
.titles img{
  height: 100px; 
}

#clients {
  height: 100vh;
  /*overflow-y: scroll;*/
  text-align:center;
}


@media only screen and (max-width: 910px) {
  .groupspon img {
    height: 70px;
    width : auto;
    padding: 5px;
  }

.premium img {
    height: 60px;
    width : 150px;
    padding: 5px;
    align-items: center;
  }
 
  #clients h2{
    font-size: 2em;
  }
}

.group {
  display: flex;
  margin-left: 5%;
  margin-top: 15%;
}


@keyframes bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}
.dom{
  height: 100vh;
  z-index: 10;
  margin-top: 10%;
}
#cn{
  margin-top: 5%;
}
.card__title{
  text-align: center;
  font-size:2.2em;
  -ms-transform: translateY(25%);
  transform: translateY(25%);
}
.dom h1,.fq h2{
  text-align: center;
  font-size: 54px;
  margin-top: 10px;
}
/*cards*/  * 

.main-container {
  padding: 20px;
  align-items: center;
  margin-top: 5px;
}

/* HEADING */

.heading {
  text-align: center;
}

.heading__title {
  font-weight: 600;
}

.heading__credits {
  margin: 7px 0px;
  color: #888888;
  font-size: 23px;
  transition: all 0.5s;
}

.heading__link {
  text-decoration: none;
}

.heading__credits .heading__link {
  color: inherit;
}

/* CARDS */

.cards,.cardsi{
  max-width: 1000px;
  margin: 0;
  margin-left:0px;
  display: grid;
  grid-gap: 1.3rem;
  height: inherit;
  margin: 0 auto;
  
}
#tracks::-webkit-scrollbar-track,.timeline-main::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: white;
  
}

#tracks::-webkit-scrollbar,.timeline-main::-webkit-scrollbar
{
	width: 6px;
  height: 10px;
	background-color:white;
  
}

#tracks::-webkit-scrollbar-thumb,.timeline-main::-webkit-scrollbar-thumb
{
	background-color:#EB1616;
}

.card {
  margin: 10px;
  padding:  5px;
  min-height: 13em;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.card:hover,.cardi:hover {
  box-shadow: 2px 2px 2px 2px #EB1616;
  transform: scale(1.04);
}
.cards{
  border-color:5px solid #EB1616;
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color:#212121;
}

.card__link:hover::after {
  width: 100%;
}

.card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  font-size: 30px;
  flex-basis: 40%;
}

.card__title {
  font-weight: 500;
  color: #212121;
  text-align: center;
  margin-top: 0;
  flex-basis: 60%;
}


/* CARD BACKGROUNDS */

.card{
  background:#ffeded;
  color: #212121;
}
.cardi{
  background:#ffeded;
  color: #212121;
  border-radius: 10px;
}

.cardlogo{
  height: 50px;
  width: 44px;
  margin-left: 85%;
  margin-top: 10px;
  margin-bottom: 0px;
}
.cardi{

}

@-webkit-keyframes backInRight {
  0% {
    transform: translateX(2000px) scale(.7);
    opacity: .7;
  }

  80% {
    transform: translateX(0px) scale(.7);
    opacity: .7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes backInRight {
  0% {
    transform: translateX(2000px) scale(.7);
    opacity: .7;
  }

  80% {
    transform: translateX(0px) scale(.7);
    opacity: .7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}


@-webkit-keyframes backInLeft {
  0% {
    transform: translateX(-2000px) scale(.7);
    opacity: .7;
  }

  80% {
    transform: translateX(0px) scale(.7);
    opacity: .7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes backInLeft {
  0% {
    transform: translateX(-2000px) scale(.7);
    opacity: .7;
  }

  80% {
    transform: translateX(0px) scale(.7);
    opacity: .7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
#cn{}
.backInLeft{
  -webkit-animation: backInLeft 1.5s;
  animation: backInLeft 1.5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
.backInRight{
  -webkit-animation: backInRight 1.5s;
  animation: backInRight 1.5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
.contacts{
  height: 100vh;
}
.contacts h1{
  text-align: center;
  margin-top: 20px;
  padding-top: 1.6em;
  font-size: 54px;
}
.con{
  display: flex;
  justify-content: flex-end;
  height: 70%;

}
.con1,.con2{
  text-align: center;
  margin:0 auto;
  flex-basis: 50%;
  padding-top: 40px;
}
.con1{
  padding: 100px;
}
.con1 img{
  margin-top: 40px;
  height: 150px;
  width: auto;
}
.con2 h3{
  padding-top: 60px;
}
.con2 h3 p{
  margin-top: 20px;
}
.soc ul{
  list-style-type: none;
  display: flex;
  justify-content:center;
  margin-bottom: 20px;
}
.soc ul li{
  margin-left: 1%;
}
.soc{
  left:50%;
}

.faq {
  padding: 20px;
  width: 60%;
  min-width:450px;
  margin:0 auto;
  position: relative;
  height: auto;
}


.faq-container {
  width: 100%;
  height: 100%;

}

.faq-label {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffeded;
  border-radius: 5px;

}

.faq-label-text {
  color:#212121;

}

.faq-label-icon {
  padding: 2px 3px;
  background:#EB1616;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-icons {
  color: white;
  transition: 0.3s ease;
}

.faq-answer {
  transition: 0.3s ease;
  margin-top: 15px;
  height: 0;
  border-radius: 6px;
  color: rgba(127, 121, 121, 1);
  overflow: hidden;

}

.faq-answer-content {
  padding: 10px 0 10px 15px;
  

}

.active {

  background: #FFFFFF;
  border: 1px solid #C7C4C4;
  
  height: auto;
  margin-bottom: 25px;

}
.rotate{
  transform: rotate(180deg)
}
.global-label{
  width:100%;
  height:35px;
  border-bottom: solid 2px #C4C1C1;
  margin-bottom: 35px;
}
.global-label-text{
  font-size:18px;
  color:#f6f8f8;
}
.tracklogo{
  height: 50px;
  width: 44px;
  margin-left: 82%;
  margin-top: 0px;
  margin-bottom: 20px;
  grid-row: 4;
}
.cardi {
  padding:  0px;
  min-width: 320px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
}


@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: pr;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 60vh;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider::before, .slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.title_tracks{
  text-align: center;
  padding: 9px;
  grid-row: 2;
  font-weight: 500;
  font-size: 30px;
  color: #212121;
}
#pt{
  text-align: center;
  grid-row: 3;
  padding: 5px;  
  flex-basis: 70%;
}
.timeline-wrap{
  padding: 50px;
}

.timeline-main h1{
  text-align: center;
  font-size: 54px;
  margin-top: 10px;
}
#tracks{
  height: 150vh;
  overflow-y: scroll;
}
#dm{
  height: 110vh;
}
@media (max-width:767px){
  .timeline-main h1{
    font-size: 2.6em;
  }
  .faq-label {
    width: 110%;
  }
}

.timeline-main{
    height: 100vh;
    overflow-y:scroll;
    overflow-x:hidden;
    z-index: 10;
}
.timeline {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
  background-color: inherit;
}
.timeline:after {
  content: "";
  position: absolute;
  width: 5px;
  background-color: #EB1616;
  left: 50%;
  top: 0;
  bottom: 0;
  margin-left: -2px;
}
.timeline--first:after {
  top: 20px;
}
.era {
  text-align: center;
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
}
.era__title {
  background-color: #EB1616;
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 10px 20px;
}
.entry {
  padding: 10px 30px 40px 30px;
  width: 50%;
  position: relative;
  background-color: inherit;
}
.entry--right {
  margin-left: 50%;
}
.entry__content {
  padding: 20px 30px;
  position: relative;
  color: white;
  border-radius: 15px;
  border: 4px solid #ffeded;
}
.entry__content:hover {
  background-color: #ffeded;
  color: black;
  font-weight: bold;
  border: 4px solid #EB1616
}
.entry:before {
  content: " ";
  height: 0;
  position: absolute;
  top: 20px;
  width: 0;
  z-index: 1;
}
.entry--left:before {
  right: 22px;
  border: medium solid transparent;
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent white;
}
.entry--right:before {
  left: 22px;
  margin-left: 0;
  border: medium solid transparent;
  border-width: 8px 8px 8px 0;
  border-color: transparent white transparent transparent;
}
.entry:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  right: -19.75px;
  background-color: white;
  border: 4px solid #780b0b;
  top: 10px;
  border-radius: 50%;
  z-index: 1;
}
.entry--right:after {
  right: auto;
  left: -18.75px;
}
ul{
  list-style-type: none;
}

#time h3{
  text-align: center;
  margin-top: 10%;
}
@media all and (max-width: 500px) {
  .timeline:after {
    left: 33.75px;
  }
  .era {
    text-align: left;
    padding-left: 31.875px;
  }
  .entry {
    width: 100%;
    margin-left: 0;
    padding-left: 54px;
    padding-right: 20px;
  }
  .entry:before {
    right: auto;
    left: 56px;
    margin-left: 0;
    border: medium solid transparent;
    border-width: 8px 8px 8px 0;
    border-color: transparent white transparent transparent;
  }
  .entry:after {
    left: 15px;
  }
}
#tracks{
  margin-bottom: 20vh;
}
/*tl ends*/
.cardtit{
  font-weight: 500;
  color: #212121;
  text-align: center;
  margin-top: 0;
  flex-basis: 60%;
  transform: translateY(20%);
  font-size: 2.2em;
}

/* RESPONSIVE */
@media (max-width:600px){
#dm{
  height: 230vh !important;
}
}
@media (max-width:767px){
  .title_tracks{
    font-size: 30px;
    margin-top: 15px;
  }
  #countdown li{
    font-size: 44px;
    font-weight: 500px;
  }
  .nav{
    margin-top: 20px;
  }
  .heading{
    height: 100vh;
  }
  .group{
    display: block;
    text-align: center;
    
  }
  #a2,#a3,#a4{
    margin-top: 10%;
    font-size: 1.5em;
  }
  .about{
    height: 120vh;
  }
  .about h2{
    font-size: 2.5em;
    padding-bottom: 0px;
    padding-top: 25px;
    padding: 15px;
  }
  
  .about p{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    font-size: 1em;
  }
  .card__title{
    text-align: center;
    flex-basis: 50%;
    transform: translateY(75%);
  }
  .card{
    min-height: 11em;
  }
  .card:hover {
    box-shadow: 2px 2px 2px 2px #EB1616;
    transform: scale(1.04);
  }
  .cardi:hover{
    transform: scale(1.04) !important;
  }
  .card__title{
    font-weight: 500;
    font-size: 1.7em;
    padding: 5px;
    text-align: center;
  }
  #tracks{
    margin-bottom: 20vh;
  }
  .dom h1,.fq h2{
    padding-top: 50px;
    font-size: 2.6em;
  }
  .flexbox1{
    padding-top: 0px;
    margin-right: 10px;
}
.cardlogo{
  height: 50px;
  width: 44px;
  margin-top: 15%;
  margin-bottom: 10px;
  margin-left: 85%;
}
#cnt{
  flex-basis: 35%;
}
.contacts h1{
  font-size: 2.6em;
}
.con{
  display: block;
}
.con1 img{
  margin-top: 20px;
  height: 120px;
  width: auto;
}
.con2 h3{
  font-size: 1.2em;
  padding-top: 20px;
}
.con2{
  padding-top: 10px;
}
.con{
  height: 77%;

}
.soc ul{
  margin-bottom: 0px;
}
.h4ctitle{
  width:50%;
  height:7rem;
  margin-top:0px;
}
.flexbox1{
  margin: 0px;
  padding: 0px;
}
.wht{
  display: block;
}

.con1,.con2{
  padding-top: 0px;
}
.faq {
  min-width:350px;
  margin: 0 auto;
  position: relative;
  height: auto;
  padding-bottom: 60px;
  margin-left: -5px;
}

.main-container{
  padding: 30px;
}
.tracklogo{
  height: 40px;
  width: 34px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 84%;
}
}
@media (max-width: 695px) {
  .bttn{
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
  }
  .main-container{
    padding: 10px;
  }
  .title_tracks{
    flex-basis: 40%;
  }
  #pt{
    flex-basis: 50%;
  }
  .tracklogo{
    flex-basis: 10%;
  }
  #tracks{
    overflow-y: hidden;
    height: 120vh;
    margin-bottom: 0vh;
  }
  .cardsi { 
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    padding: 50px;
    }
    .cards{
      padding: 30px;
    }
    .cardi{
      min-height: 420px;
      min-width: 300px;
      padding: 10px;
    }
    .cardtit{
    font-weight: 500;
    font-size: 1.7em;
    padding: 5px;
    text-align: center;
    transform: translateY(50%);
    }
}
@media (min-width: 900px) {
  .cards,.cardsi{ grid-template-columns: repeat(3, 1fr);
  }
  .cards{
    margin-top: 5%;
  }
  }
  @media (max-width: 900px) {
    .cards,.cardsi{
      grid-template-columns: repeat(2, 1fr);
    }
    .con1{
      padding: 5px;
    }
    #dm{
      height: 130vh;
    }
  }
  @media (max-width: 570px) {
    .cards{
      display: flex !important;
      flex-direction: column;
    }
    .card{
      max-width: 400px;
    }
    
  }
  .titles img{
    height: 100px; 
  }
  
  #clients {
    height: 100vh;
    /*overflow-y: scroll;*/
    text-align:center;
  }
  .groupspon img {
    height: 70px;
    width: auto;
  }
.groupspon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  left: 0%;
  padding: 2%;
}
  
  @media only screen and (max-width: 910px) {
    .groupspon img {
      height: 70px;
      width : auto;
      padding: 5px;
    }
    #clients h2 {
      font-size: 3em;
    }
  .premium img {
      height: 60px;
      width : 150px;
      padding: 5px;
      align-items: center;
    }
  
    #clients h2{
      font-size: 2em;
    }
  }
  
  .group {
    display: flex;
    margin-left: 5%;
    margin-top: 15%;
  }
  